.paleta {
  top: 140px;
  right: 90px;
}

.olovke-1 {
  right: 160px;
  top: 290px;
}

.olovke-2 {
  right: 230px;
  top: 250px;
}

.kafa {
  left: 30px;
  top: 160px;
}

.mobilni-paleta {
  bottom: 70px;
  left: 30px;
}

.lap-top {
  top: 50px;
  left: 110px;
}

.dizajn-sijalica {
  left: 300px;
  bottom: -30px;
}

.postolje {
  top: 100px;
  left: 120px;
}

.sto-stampa {
  right: 70px;
  top: -30px;
}

.sto-lap-top {
  bottom: 50px;
  left: 180px;
}

.mobilni-prazan {
  top: 200px;
  left: 80px;
}

.social-3 {
  top: 0;
  left: 180px;
}

.social-2 {
  top: 100px;
  left: 230px;
}

.social-1 {
  top: 220px;
  left: 200px;
}

.sto-torta {
  top: 140px;
  left: 120px;
}

.covek-slika {
  top: -30px;
  left: 400px;
}
