.contact-container {
  min-height: 90vh;
  background-image: url("../assets/kontakt/pozadina-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.contact-nav {
  position: relative;
}

.contact-content {
  flex-direction: column;
  width: 80%;
  margin: auto;
  height: 100%;
}

.info-form {
  margin-top: 4em;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-right: 25em;
}

.heading {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #67686a;
  width: 80%;
}

.info {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex: 1 1 0px;
}

.info h3 {
  color: #8c8c8d;
  font-size: 54px;
  font-family: "Archivo", sans-serif;
  margin-bottom: 40px;
}

.info-container {
  color: #8c8c8d;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.placeholder-big {
  color: #ffffff;
  width: 450px;
  height: 50px;
  position: relative;
  -webkit-box-shadow: 8px 20px 22px -5px rgba(0, 0, 0, 0.62);
  box-shadow: 8px 20px 22px -5px rgba(0, 0, 0, 0.62);
  border-radius: 25px;
  background-color: #dca62e;
  padding-top: 15px;
  padding-bottom: 5px;
}

.vrata {
  top: 25.19%;
  left: 75.66%;
  width: 16.71%;
}

.covek {
  top: 52.84%;
  left: 69.36%;
  width: 14.97%;
}

.form {
  padding-top: 30px;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0px;
  gap: 15px;
  align-items: center;
}

::placeholder {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
}

.border {
  border-radius: 25px;
  border: 3px solid #dca62e;
  padding: 15px;
  width: 60%;
}

.img-container {
  flex: 1 1 0px;
  position: relative;
  height: 100%;
}

textarea {
  resize: none;
}

.placeholder-small {
  text-transform: uppercase;
  color: #ffffff;
  width: 60%;
  height: 50px;
  position: relative;
  -webkit-box-shadow: 8px 20px 22px -5px rgba(0, 0, 0, 0.62);
  box-shadow: 8px 20px 22px -5px rgba(0, 0, 0, 0.62);
  border-radius: 25px;
  background-color: #dca62e;
  padding: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 24px;
  text-align: center;
}

@media only screen and (max-width: 1366px) {
  .heading {
    margin-top: 30px;
    font-size: 32px;
  }
  .info-form {
    margin-top: 1em;
    gap: 1em;
    margin-right: 390px;
    margin-bottom: 2em;
  }
  .info h3 {
    margin-bottom: 10px;
    font-size: 32px;
  }
  .info-container {
    font-size: 24px;
  }
  .placeholder-big {
    width: 350px;
    padding-top: 15px;
    height: 35px;
  }
  .border {
    width: 80%;
  }
  .contact-content {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .heading {
    margin-top: 30px;
    font-size: 28px;
  }
  .info-form {
    margin-top: 1em;
    gap: 3em;
    margin-right: 350px;
    margin-bottom: 2em;
  }
  .info h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .info-container {
    font-size: 20px;
  }
  .placeholder-big {
    width: 300px;
    padding-top: 15px;
    height: 35px;
  }
  .border {
    width: 80%;
  }
  .placeholder-small {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .border {
    width: 100%;
  }
}
