.velika-tabla {
  top: 0%;
  left: 45.63%;
  width: 39.59%;
}

.donja-tabla {
  top: 42.22%;
  left: 65.1%;
  width: 15.43%;
}

.gornja-tabla {
  top: 15.55%;
  left: 65.1%;
  width: 15.43%;
}

.sijalica {
  top: 13.33%;
  left: 28.18%;
  width: 11%;
}

.covek {
  top: 31.11%;
  left: 10.73%;
  width: 58.52%;
}
/*  */
.mali-tocak {
  top: 270px;
  left: 63.75%;
  width: 13.02%;
}

.veliki-tocak {
  top: 11.11%;
  left: 51%;
  width: 19.46%;
}

.usluge-tabla {
  top: 0%;
  left: 16.1%;
  width: 51%;
}

.lupa {
  top: 13.33%;
  left: 17.44%;
  width: 20.67%;
}
/*  */
.zupcanik-3 {
  top: -4.44%;
  left: 16.1%;
  width: 17.98%;
}

.zupcanik-2 {
  top: -13.33%;
  left: 69.79%;
  width: 15.57%;
}

.levi-covek {
  top: 17.77%;
  left: 13.42%;
  width: 23.48%;
}

.desni-covek {
  top: 17.77%;
  left: 65.77%;
  width: 23.48%;
}

.srednji-covek {
  top: 0%;
  left: 34.89%;
  width: 32.08%;
}

.lupa-saradnik {
  top: 55.55%;
  left: 65.77%;
  width: 23.08%;
}

.stoji-covek {
  top: 55.55%;
  left: 40.26%;
  width: 25.63%;
}
/*  */
.podloga {
  top: 37.77%;
  left: 26.84%;
  width: 65.23%;
}

.finish {
  top: -8.88%;
  left: 29.53%;
  width: 48.18%;
}

.sijalica-cilj {
  top: 28.88%;
  left: 48.32%;
  width: 22.01%;
}

.traka {
  top: 28.88%;
  left: 38.92%;
  width: 33.95%;
}

.konfete {
  top: -4.44%;
  left: 26.84%;
  width: 65.1%;
}

/*  */
.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.ucitava {
  position: relative;
}

.white-box {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 290px;
  height: 200px;
  animation-name: izbledi;
  animation-duration: 3.2s;
}

@keyframes izbledi {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hide {
  display: none;
}

.spancina {
  background-color: orange;
  display: block;
  height: 4px;
  animation-name: spana;
  animation-duration: 1.75s;
}

@keyframes spana {
  from {
    width: 0px;
  }
  to {
    width: 690px;
  }
}

@media only screen and (max-width: 1366px) {
  .velika-tabla {
    width: 40%;
    top: 0%;
    right: 18.61%;
  }
  .sijalica {
    width: 8%;
    top: 13.33%;
    right: 77.83%;
  }
  .gornja-tabla {
    width: 16%;
    top: 15.55%;
    right: 24.53%;
  }
  .donja-tabla {
    width: 16%;
    top: 42.22%;
    right: 32.14%;
  }
  .covek {
    width: 60%;
    top: 23.68%;
    right: 38.91%;
  }
}
