.montaza-1 {
  top: -11.11%;
  left: 20.13%;
  width: 73.95%;
}

.montaza-2 {
  top: 24.44%;
  left: 6.71%;
  width: 59.46%;
}
/*  */
.pokretna-grafika {
  top: 2.22%;
  left: 6.71%;
  width: 78.25%;
}
/*  */
.render {
  top: -22.22%;
  left: 0%;
  width: 79.73%;
}
/*  */
.reklama-1 {
  left: 26.84%;
  width: 24.83%;
}

.reklama-2 {
  top: -8.88%;
  left: 49.66%;
  width: 24.96%;
}

.reklama-3 {
  top: 22.22%;
  left: 55.03%;
  width: 20.13%;
}

.modal-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000000000000;
  display: none;
  transform: translateY(-300px);
}

iframe {
  width: 80%;
  height: 70%;
}
